<div id="favouritefiles-panel" class="bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar simple-toolbar-layout favouritefile-toolbar">
        <div class="title">Favourite Files</div>
        <a href="#" class="close">&times;</a>
        <!--<div class="favouritefile-sort-container">
            <span class="favouritefile-sortby-lbl">Sort By</span>
            <select id="favouritefile-sort-option">
                <option value="added">File Added</option>
                <option value="name">File Name</option>
            </select>
        </div>-->
    </div>
    <div class="table-container resizable-content">
        <table class="bottom-panel-table table table-striped table-condensed row-highlight">
            <tbody></tbody>
        </table>
    </div>
</div>
